<div class="container color-dark">
	<div class="col">
		<p>Add a Post-It</p>
	</div>
	<div class="col">
		<p>Your bucket list ({{itemCount}})</p>
	</div>
</div>
<div class="container color-light" [@goals]="goals.length">
	<div class="col left-col col-container">
		<p class="sm">
			Use this form below to add a new 
			<strong>Post-It</strong>
			, Is there something you need to remember?
		</p>

		<form action="">
			<input type="text" class="txt" name="item" placeholder="pending things ..." [(ngModel)]="goalText">
			<input type="submit" class="btn" [value]="btnText" (click)="addItem()">
		</form>
	</div>
	<div class="col flex col-container">
		<div class="postIt-cont" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
			<div class="life-container postIt">
				<div class="nota">
					{{ goal }}
				</div>
			</div>
		</div>
	</div>
</div>