.container {
    display: grid;
    grid-template-columns: 50% auto;
    max-width: 1024px;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background-color: #af1d03;
}
.color-light{
    background-color: #f64d2f;
}
input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn{
    border: 0;
    display: block;
    padding: 1em 3em;
    background-color: yellow;
    color: #003a61;
    margin-bottom: 1em;
    cursor: pointer;
}
.life-container{
    background-color: tomato;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}